/*Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}

/*My CSS for Iphone 5/SE */

body{
  font-family: 'Open Sans','Roboto', 'Arial', sans-serif;
}
                            /* CSS HEADER
--------------------------------------------------------------------*/
.header{
  background-color: #ff6666;
}

.main_title{
  background-color: #F1E8B8;
  margin: 0;
  text-align: center;
}

.banner img{
  width: 100%;
  height: auto;
}

.menu_nav{
  text-align: center;
}

.menu_nav label{
  display: inline-block;
  color: white;
  background: #000000;
  padding: 10px;
}

.menu_nav label:hover{
  color: black;
  background: #ffffff;
}

.menu_nav ul li a{
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-top: 1px solid #333;
  color: #ffffff;
  text-decoration: none;
}

.menu_nav ul{
  list-style-type: none;
}


.menu_nav ul li{
  display: none;
  background: #000000;
}

.menu_nav input:checked ~ ul li{
  display: block;
}

/*                       CSS SECTION INDEX.HTML
------------------------------------------------------------------ */
.blockpage_product{
  display: block;
  text-align: center;
  width: 100%;
  height: auto;
}

.product_card1{
  display: block;
  text-align: center;
  border-bottom: solid #ffffff;
  background: #F0F0F0;
}

.title_product1{
  padding-top: 3px;
  background: #DAF7A6;
}

.image_product1 img{
  width: 50%;
  height: auto;
}

.url_product1 {
  background: #DAF7A6;
  margin-bottom: 5px;
}


.url_product1 a{
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.url_product1 a:hover{
  background: #000000;
  color: #ffffff;
}

.description_product1{
  margin-bottom: 5px;
}

.prix_product1{
  margin-bottom: 5px;
}

.product_card2{
  display: block;
  text-align: center;
  border-bottom: solid #ffffff;
  background: #F0F0F0;
}

.title_product2{
  padding-top: 3px;
  background: #DAF7A6;
  margin-top: 3px;
}

.image_product2 img{
  width: 75%;
  height: auto;
}

.url_product2 {
  background: #DAF7A6;
  margin-bottom: 5px;
}


.url_product2 a{
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.url_product2 a:hover{
  background: #000000;
  color: #ffffff;
}

.description_product2{
  margin-bottom: 5px;
}

.prix_product2{
  margin-bottom: 5px;
}

.product_card3{
  display: block;
  text-align: center;
  border-bottom: solid #ffffff;
  background: #F0F0F0;
}

.title_product3{
  padding-top: 3px;
  background: #DAF7A6;
  margin-top: 3px;
}

.image_product3 img{
  width: 75%;
  height: auto;
}

.url_product3 {
  background: #DAF7A6;
  margin-bottom: 5px;
}

.url_product3 a{
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.url_product3 a:hover{
  background: #000000;
  color: #ffffff;
}

.description_product3{
  margin-bottom: 5px;
}

.prix_product3{
  margin-bottom: 5px;
}

/*                            CSS FOOTER
-----------------------------------------------------------------*/
footer{
  width: 100%;
  background: #DBCBD8;
}

.adress_entreprise{
  text-align: center;
  border-bottom: solid  #000000;
}

.mentions_légales{
  text-align: center;
  border-bottom: solid #000000;
}

.mentions_légales a{
  text-decoration: none;
  color: #000000;
  font-style: italic;
}

.image_réseaux_sociaux{
  text-align: center;
  margin-top: 5px;
}

.image_réseaux_sociaux a{
  padding-left: 20px;
  padding-right: 20px;
}

.copyright{
  margin-top: 5px;
  text-align: center;
}

/*                      CSS A propos de l'entreprise
-------------------------------------------------------------------*/
.title_qui_nous_sommes {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
  border: solid #ffffff;
  background: #F0F0F0;
}

.video_entreprise iframe{
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}

.description_entreprise{
  border: solid;
  border-color: #000000;
  text-align: center;
  border: solid #ffffff;
  background: #F0F0F0;
}

/*                        CSS Prestations
---------------------------------------------------------------------*/
.table_prestations table{
  text-align: center;
  table-layout: fixed;
  border: solid #000000;
}


.table_prestations table thead tr th{
  padding-left: 2px;
  padding-right:2px ;
  border: solid #000000;
  background: #FFFE00;
}

.table_prestations table tbody tr td{
  border: solid #000000;
  background: #F0F0F0;
}

.table_prestations table tfoot tr td{
  border: solid #000000;
  font-style: italic;
  background: #F0F0F0;
}


/*                            CSS Contact
-------------------------------------------------------------------*/
.title_formulaire{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #DAF7A6;
}

.formulaire_contact{
  display: inline-block;
  text-align: center;
  border: solid #000000;
  background: #F0F0F0;
}

.submit_reset{
  display: flex;
  justify-content: center;
}

.submit_message{
  margin-right: 10px;
}

.image_maps_terredegeek{
  margin-top: 5px;
  margin-bottom: 5px;
  border: solid #000000;
}

.image_maps_terredegeek iframe{
  width: 100%;
  height: auto;}

/*                           CSS Produit 1
-------------------------------------------------------------------*/

.blockpage_product1{
  text-align: center;
}

.productsheet1_title{
  margin-top: 5px;
  background: #DAF7A6;
}

.image_productsheet1 img{
  width: 50%;
  height: auto;
}

.description_productsheet1{
  border: solid #ffffff;
  background: #F0F0F0;
}

.moniteur{
  background: #000000;
  color: #F0F0F0;
}

.logiciels{
  background: #000000;
  color: #F0F0F0;
}

.processeur{
  background: #000000;
  color: #F0F0F0;
}

.carte_vidéo{
  background: #000000;
  color: #F0F0F0;
}

.mémoire_vive{
  background: #000000;
  color: #F0F0F0;
}

.stockage{
  background: #000000;
  color: #F0F0F0;
}

/*                           CSS Produit 2
-------------------------------------------------------------------*/

.blockpage_product2{
  text-align: center;
}

.productsheet2_title{
  margin-top: 5px;
  background: #DAF7A6;
}

.image_productsheet2 img{
  width: 50%;
  height: auto;
}

.description_productsheet2{
  border: solid #ffffff;
  background: #F0F0F0;
}

.moniteur{
  background: #000000;
  color: #F0F0F0;
}

.logiciels{
  background: #000000;
  color: #F0F0F0;
}

.processeur{
  background: #000000;
  color: #F0F0F0;
}

.carte_vidéo{
  background: #000000;
  color: #F0F0F0;
}

.mémoire_vive{
  background: #000000;
  color: #F0F0F0;
}

.stockage{
  background: #000000;
  color: #F0F0F0;
}

/*                            CSS Produit 3
---------------------------------------------------------------------*/

.blockpage_product3{
  text-align: center;
}

.productsheet3_title{
  margin-top: 5px;
  background: #DAF7A6;
}

.image_productsheet3 img{
  width: 50%;
  height: auto;
}

.description_productsheet3{
  border: solid #ffffff;
  background: #F0F0F0;
}

.moniteur{
  background: #000000;
  color: #F0F0F0;
}

.logiciels{
  background: #000000;
  color: #F0F0F0;
}

.processeur{
  background: #000000;
  color: #F0F0F0;
}

.carte_vidéo{
  background: #000000;
  color: #F0F0F0;
}

.mémoire_vive{
  background: #000000;
  color: #F0F0F0;
}

.stockage{
  background: #000000;
  color: #F0F0F0;
}

/*                        CSS Mentions Légales
-------------------------------------------------------------------*/

.block_mentions_légales{
  text-align: center;
  background: #F0F0F0;
  margin-top: 5px;
  margin-bottom: 5px;
}

/*                            CSS Media Query
---------------------------------------------------------------------*/
@media only screen and (min-width: 375px){
  .video_entreprise iframe{
    width: 100%;
    height: auto;
    margin-bottom: 5px;
  }
  .formulaire_contact{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media only screen and (min-width:768px) {
  .video_entreprise iframe {
    width: 100%;
    height: 50vh;
  }
  .table_prestations{
    width: 100%;
    height: 55vh;
  }
  .table_prestations table{
    width: 100%;
    height: 55vh;
  }
}

@media only screen and (min-width: 1350px){
  .banner{
    text-align: center;
  }
  .banner img{
    width: 50%;
    height: auto;
  }
  .image_product1 img {
    width: 20%;
    height: auto;
  }
  .image_product2 img {
    width: 20%;
    height: auto;
  }
  .image_product3 img {
    width: 20%;
    height: auto;
  }
  .video_entreprise{
    text-align: center;
  }
  .video_entreprise iframe {
    width: 50%;
    height: 50vh;
  }
  .image_productsheet1 img {
    width: 10%;
    height: auto;
  }
  .image_productsheet2 img {
    width: 15%;
    height: auto;
  }
  .image_productsheet3 img {
    width: 15%;
    height: auto;
  }
}
